@{
    ViewBag.Title = "About";
}

<p>The Fort Saskatchewan Music Festival is a local, annual event that promotes and fosters achievements of youth in music and speech arts.  Our non-profit, volunteer Association plans and hosts an annual Music Festival to celebrate the musical achievements of student performers living within the Elk Island and Sturgeon School Divisions.  An adjudication given by professional musicians in a workshop style follows each performance group.  Our 2012 Festival had performances from over 750 participants.  Students and groups who achieve top standing for their musical performances are presented with a monetary award sponsored by individuals or companies.</p>

<p>If you should choose to donate, your donation goes directly to the cost of producing the Festival, which includes: the rental of facilities,
    adjudication fees, technicians, printing of programs, and some administrative costs.  If you would like to donate using a credit card through
    CanadaHelps, please click <a href="http://www.canadahelps.org/CharityProfilePage.aspx?charityID=s19061" target="_blank" class="userlink">here</a>,
    or on the image below. If you would like to send a cheque, please click
    <a href="@Url.Content("~/pdf/2014 Donor Page.pdf")" target="_blank" class="userlink">here</a> for a printable form to mail with
     your cheque. If you are a first time donor, please <a href="@Url.Content("~/pdf/2014 New Donor letter.pdf")" target="_blank" class="userlink">click here</a>. If you have given before, please
    <a href="@Url.Content("~/pdf/2014 Supporters letter 1.pdf")" target="_blank" class="userlink">click here</a>.  All donations over $20 will receive
    a tax receipt. Your contribution will be gratefully appreciated and acknowledged.</p>

<p>The mandate of our committee is to provide individual students and school groups performing in music disciplines such as piano, choir, vocal, instrumental, band, handbells and speech arts, the opportunity to develop their music ability through adjudication by a professional musician.</p>

<p>This experience:</p>
<ul>
    <il>&middot; enhances musical skills, self confidence and performance abilities.<br /></il>
    <il>&middot; fosters positive life skills, due to the advance preparation and discipline required.<br /></il>
    <il>&middot; enhances camaraderie between children from different backgrounds by sharing common interests.<br /></il>
    <il>&middot; develops musical growth for our youth, to become adults with strong appreciation for music, who will give back to their communities the skills learned.<br /></il>
    <il>&middot; provides an opportunity to learn from a professional, academic musician.<br /></il>
</ul>

<strong>Volunteers are currently needed.</strong>

<p>Please contact us at <a href="mailto:fortsaskmusicfestival@gmail.com">fortsaskmusicfestival@gmail.com</a> if you would like to donate some of your time. No experience necessary! Musical background not required!</p>

<p><a href="https://www.canadahelps.org/CharityProfilePage.aspx?charityID=s19061" target="_blank" class="userlink"><img src="/Images/CanadaHelps.png" alt="Canada Helps" width="250" height="110" singleimage="true" style="clear:both;display:block;height:110px;margin:0px auto 10px auto;text-align:center;width:250px;"></a></p>
