@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>

<address>
    <p>Our email address is <a href="mailto:fortsaskmusicfestival@gmail.com">fortsaskmusicfestival@gmail.com</a></p>
    <p>For urgent matters, call Helen Akerboom at <a href="tel:17809985048">780-998-5048</a>, or email <a href="mailto:helen_akerboom@shaw.ca">helen_akerboom@shaw.ca</a> </p>
</address>  