@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>2016 Music Festival</h1>
    <p class="lead">We are currently accepting new entries. Sign up online now.</p>
    <p><a class="btn btn-primary" href="@Url.Action("Create", "Entrants")">Sign Up &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Volunteers needed!</h2>
        <p>
            We are looking for new members of the Festival Executive as well as volunteers during festival month. For more information, please call Helen at <a href="tel:17809985048">780-998-5048</a>.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Syllabus</h2>
        <p>2015 Fort Saskatchewan Music Festival Local Syllabus</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Syllabus &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Entry Form</h2>
        <p>2015 Fort Saskatchewan Music Festival Entry Form</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Entry Form &raquo;</a></p>
    </div>
</div>