@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>2016 Fort Saskatchewan Music Festival</h1>
    <p class="lead text-warning">Entry Deadline: January 23, 2016</p>
    <p><a class="btn btn-primary" href="@Url.Action("Create", "Entrants")">Sign Up Today &raquo;</a></p>
</div>

<div class="row">
    <h1 style="text-align: center;">Location of Events</h1>
</div>

<div class="row">
    <div class="col-md-6" style="text-align: center;">
        <h4 >Dow Centennial Centre</h4>
        <p>
            Shell Theatre and Lion's Pride Room
        </p>
        <p>
            8700-84 Street
            Fort Saskatchewan, AB
            T8L 4P5
        </p>
        <p>
            www.fortsask.ca
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2362.9287651275276!2d-113.235912!3d53.683895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x53a0389097232a87%3A0x1891fc365e1a7037!2sDow+Centennial+Centre+Fort+Sask!5e0!3m2!1sen!2sca!4v1442390493525" width="500" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

    <div class="col-md-6" style="text-align: center;">
        <h4 >First United Church</h4>
        <p>
            10409-100 Ave
            Fort Saskatchewan, AB
            T8L 1Z3
        </p>
        <p>
            780-998-4060
        </p>
        <p>
            www.fsunited.org
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2361.2830977666285!2d-113.209831!3d53.713218999999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x53a04799a85db7dd%3A0x9fe2348a79d00a9a!2sFirst+United+Church!5e0!3m2!1sen!2sca!4v1442390541155" width="500" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>

<div class="row">
    <div class="col-md-12" style="text-align: center;">
        <h2>Volunteers are needed!</h2>
        <p>
            We are looking for new members of the Festival Executive as well as volunteers during festival month. For more information, please call Helen at <a href="tel:17809985048">780-998-5048</a>.
        </p>
    </div>
</div>